*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    background: none;
    font-family: sans-serif;
    text-decoration: none;
}

header{
    /* border: 5px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

#home {
    background-image: url("../images/background.jpg"); 
    background-attachment: fixed;
    background-color: #000000;
    position: relative;
    height: 690px;
    z-index: 10;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.overlay {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    opacity: .8;
    z-index: 10;
    background: #1C1D21;
}

.on-overlay{
    display: flex;
    position: relative;
    z-index: 20;
    justify-content: center;
}

nav{
    display: flex;
    align-items: center;
    margin: 0px 80px;
    padding: 0px 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    z-index: 30;
    top: 0;
}

.navbar li{
    display: block;
    text-align: center;
    margin: 0px 10px;
}

.navbar li a{
    padding: 10px 50px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    transition: all ease .3s;
}

.navbar li a:hover{
    color: #d1d1d1;
}

.navbar ul{
    display: flex;
    justify-content: center;
}

.logo img{
    max-width: 300px;
    margin-right: 8em;
}

#home-bienvenida{
    text-align: center;
    color: #ffffff;
    /* border: 1px solid red; */
}

#home-bienvenida h1{
    font-size: 60px;
}

#home-bienvenida h3{
    opacity: .8;
    font-weight: normal;
    margin-top: 10px;
}

#main h1{
    text-align: center;
    font-size: 40px;
}

#servicios,
#nosotros{
    display: flex;
    flex-direction: column;
    margin: 0px 80px;
    justify-content: center;
    padding-top: 120px;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    background: #f3f3f3;
    align-items: center;
    text-align: center;
    /* border: 2px solid black; */
    border-radius: 5px;
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin: 10px 10px;
    transition: ease .2s;
}

.card:hover{
    box-shadow: 0px 8px 7px rgba(0,0,0,.3);
}


.header-card{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
    align-items: center;
}

.background-header-card{
    background: linear-gradient(45deg, rgba(195, 80, 201, .9),rgba(0, 255, 255, .9));
    position: absolute;
    width: 300px;
    height: 100px;
    top: 0;
}

.card img{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
    /* border: 5px solid rgba(0,0,0,.5); */
}

.body-card{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    z-index: 5;
    flex-direction: column;
    padding-bottom: 20px;
}

.body-card h3{
    /* border: 1px solid blue; */
    width: 100%;
}

.body-card p{
    margin-top: 10px;
    /* border: 1px solid red; */
}

.body-card h4{
    text-transform: uppercase;
    margin-top: 3px;
}

.gradient-text{
    background-image: linear-gradient(45deg, rgba(195, 80, 201, .9),rgba(0, 255, 255, .9));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.footer-card{
    /* border: 1px solid red; */
    margin-top: auto;
    z-index: 5;
    margin-bottom: 30px;
}

.button{
    display: block;
    width: 150px;
    padding: 15px 20px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    background: linear-gradient(70deg, rgb(195, 80, 201),rgb(0, 255, 255));
    transition: all ease .3s;
}

.button:hover{
    transform: translateY(5px);
    box-shadow: 0px 25px 10px -20px rgba(0,0,0,.5);
}

#contacto{
    /* border: 3px solid blue; */
    padding-top: 90px;
}

.title-contacto{
    margin-bottom: 60px;
}

#body-contacto{
    display: flex;
    text-align: center;
    margin-top: 30px;
    margin: 0px 240px;
    justify-content: space-around;
    align-items: center;
}

#contacto i{
    font-size: 30px;
}

#contacto p{
    margin-top: 8px;
}

#contacto h2{
    font-size: 25px;
}

footer{
    display: flex;
    background: #1C1D21;
    height: 180px;
    margin-top: 100px;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #ffffff;
    margin: 0px 10px;
    transition: ease .2s;
}

.font-white::before{
    color: #ffffff;
}

.icon-container:hover{
    background: #000000;
}

.icon-container i{
    font-size: 23px;
}